RewriteEngine On

Header set Access-Control-Allow-Origin "http://quadrostudios.xyz"

# If the requested resource is a file or directory, serve it directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^updates$ updates.html [L]

# For all other requests, redirect to index.php
RewriteRule ^ index.php [L]