RewriteEngine On

Header always set Access-Control-Allow-Origin "https://qsp-9bf3216ba15c.herokuapp.com/"

# If the requested resource is a file or directory, serve it directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^updates$ updates.html [L]

# For all other requests, redirect to index.php
RewriteRule ^ index.php [L]